/* game board table */

#board td {
    width: 100px;
    height: 100px;
    border: solid 5px rgb(28, 62, 214);
  }
  
  /* pieces are div within game table cells: draw as colored circles */
  
  .piece {
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  
  /* column-top is table row of clickable areas for each column */
  
  #column-top td {
    border: dashed 5px rgb(138, 99, 245);
  }
  
  #column-top td:hover {
    background-color: rgb(246, 187, 252);
  }